*{
	font-family: 'PT Sans Caption', sans-serif;
}
a{
	text-decoration: none !important;
	color: inherit;
}
main{
	background-color: #FAFAFA;
	position: relative;
}
body{
	position: relative;
}
.header-top{
	height: 30px;
	background-color: #F5F5F5;
	font-size: 13px;
	color: #5F5F5F;
}
.header-top .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}
.help-links a{
	margin-right: 20px;
}
.user-links{
	display: flex;
	align-items: center;
}
.user-links a{
	margin-right: 20px;
	display: flex;
	align-items: center;
}
.user-links a i{
	margin-right: 5px;
}
.user-links a span{
	width: 16px;
	height: 16px;
	margin-left: 5px;
	border-radius: 20px;
	background-color: #c90909;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.user-links a:last-of-type{
	margin-right: 0;
}
.fa-sort-down{
	margin-left: 5px;
}
.fa-user-alt{
	margin-right: 5px;
}
.header-mid{
	height: 90px;
	background-color: #c90909;
}
.header-mid .container{
	display: flex;
	justify-content: center;
}
.header-bottom{
	height: 60px;
	background-color: #ECECEC;
	border-bottom: 1px solid #ccc;
}
.header-bottom .container{
	display: flex;
	justify-content: center;
	height: 100%;
}
.main-links{
	background-color: #c90909;
	width: 40%;
	height: 80%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.main-links a{
	width: 30%;
	height: 80%;
	background-color: #ECECEC;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 22px;
	color: #c90909;
	transition: all ease 0.4s;
}
.main-links a:hover{
	background-color: #fff;
	border-radius: 5px;
}
.page-title{
	display: flex;
	align-items: center;
	padding: 20px 50px;
	background-color: #F5F5F5;
}
.page-title h2, .page-title h3{
	padding: 5px 10px 5px 0;
	border-bottom: 5px solid #c90909;
}
.albums{
	/* padding: 50px 0; */
	/* display: flex; */
	transition: all ease 0.4s;
}
.albums-viewport{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	transition: all ease 0.4s;
}
.album{
	width: 33.3%;
	min-width: 300px;
	height: 195px;
	background-position: center;
	background-size: cover;
	/* border: 1px solid #DBDBDB; */
	/* padding: 10px; */
	background-color: #fff;
	overflow: hidden;
	position: relative;
	transition: all ease 0.4s;
}
.album img{
	width: 100%;
	height: auto;
	transition: all ease 0.4s;
}
.album-cover{
	opacity: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.8);
	transition: all ease 0.4s;
	overflow: hidden;
}
.album-cover:hover{
	opacity: 1;
}
.album-cover h3{
	font-size: 22px;
	text-transform: uppercase;
}
.album-cover span{
	font-size: 14px;
	color: #c90909;
}
.owl-nav{
	top: 42%;
	left: 0;
	display: flex;
	width: 100%;
	position: absolute;
	justify-content: space-between;
	font-size: 50px;
	color: #fff;
}

.login-form-container{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 80px 0;
	background-image: url('../../images/taking-photo.jpg');
	background-position: center;
	background-size: cover; 
}
.login-form{
	width: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	border-radius: 10px;
	padding: 40px 20px;
}
.login-form-heading{
	font-size: 30px;
	font-weight: bolder;
}
.login-form form{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.login-block, .password-block{
	width: 100%;
	background-color: #F0F0F0;
	border-radius: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	padding: 0 10px;
}
.login-block i, .password-block i{
	color: #444;
	margin-left: 10px;
}
.login-block input, .password-block input{
	background-color: transparent;
	border: none;
	width: 90%;
	border-radius: 20px;
	padding: 5px 10px;
	color: #000;
	outline: none;
}
.login-block input[type="text"]::-webkit-input-placeholder,
.password-block input[type="text"]::-webkit-input-placeholder {
    color: #444;
} 
.login-block input[type="text"]::-moz-placeholder,
.password-block input[type="text"]::-webkit-input-placeholder {
color: #444;
}
.buttons-block{
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}
.registration{
	margin-bottom: 0;
}
.registration a{
	color: #c90909;
	font-style: italic;
}
.registration a:hover{
	border-bottom: 1px solid #c90909;
}
.buttons-block input[type="submit"]{
	border: none;
	border-radius: 20px;
	background-color: #c90909;
	color: #fff;
	padding: 5px 20px;
	transition: all ease 0.4s;
}
.form-message-alert{
	font-size: 12px;
	color: red;
}
.form-message-success{
	font-size: 12px;
	color: #6CAC23;
}
.buttons-block input[type="submit"]:hover{
	background-color: #F52727;
}
.photo-add-link{
	width: 100%;
	display: flex;
	justify-content: center;
}
.photo-add{
	padding: 5px 10px;

}
.places{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 50px 60px;
}
.place{
	display: flex;
	flex-direction: column;
	padding: 10px;
	height: 250px;
	width: 24.5%;
	border: 1px solid #c8c8c8;
	margin-bottom: 20px;
}
.place-img{
	width: 100%;
	height: 60%;
	overflow: hidden;
}
.place-img img{
	width: 100%;
	height: auto;
}
.place-text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 10px 0;
}
.place-name{
	font-weight: bolder;
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.place-date{
	font-size: 14px;
	color: #626262;
	margin-bottom: 0;
}





footer{
	/* border-top: 1px solid #888; */
}
.footer-top{
	background-color: #c90909;
	border-bottom: 1px solid #888;
	/* height: 60px; */
}
.footer-top .container .row{
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.newsletter-title{
	color: #fff;
}
.newsletter{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.newsletter input[type="text"]{
	width: 80%;
	border: none;
	background-color: transparent;
	outline: none;
	padding: 5px 10px;
	border-bottom: 1px solid #fff;
	color: #fff;
}
input::-webkit-input-placeholder{
	color: #fff;
}
input::-moz-placeholder{
	color: #fff;
}
.newsletter input[type="submit"]{
	background-color: #fff;
	border: none;
	padding: 5px 10px;
	font-weight: bolder;
}
.newsletter input[type="submit"]:hover{
	background-color: #e8e8e8;
}
.footer-bottom{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}
.social-icons{
	display: flex;
}
.social-icons a{
	border-radius: 30px;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #c90909;
	color: #fff;
	margin-right: 10px;
	transition: all ease 0.5s;
}
.social-icons a:hover{
	transform: rotateY(360deg);
	color: #c90909;
	background-color: #fff;
}
.owner-sign, .developer-sign{
	font-size: 14px;
}

.search-cover{
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.8);
	display: flex;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
}
.search-form{
	width: 0;
	height: 40px;
	display: flex;
	justify-content: space-between;
	margin-top: 20%;
	overflow: hidden;
}
.search-form input[type="text"]{
	width: 78%;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid #c90909;
	padding: 5px 20px;
	outline: none;
	cursor: pointer;
}
.search-form input[type="submit"]{
	color: #c90909;
	border: 2px solid #c90909;
	background-color: transparent;
	transition: all ease 0.4s;
	width: 20%;
	cursor: pointer;

}
.search-form input[type="submit"]:hover{
	background-color: #c90909;
	color: #fff;
}

.place-row{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	position: absolute;
	top: 70%;
	left: 0;
}
.place-data{
	width: 250px;
	height: 200px;
	background-color: #fff;
	padding: 10px;
	border-radius: 2px;
}
.place-image{
	width: 100%;
	overflow: hidden;
}
.place-image img{
	width: 100%;
}
.place-name{
	text-align: center;
}
.date-choose select{
	/* background-color: transparent; */
	border: none;
	border-bottom: 2px solid #ccc;
	outline: none;
	padding: 5px;
	cursor: pointer;
}
.events{
	width: 100%;
	border-top: 2px solid #cdcdcd;
}
.event{
	width: 100%;
	display: flex;
	margin-bottom: 30px;
}
.event-viewport{
	display: flex;
}
.image-group{
	width: 24%;
	display: flex;
	flex-direction: column;
	margin-right: 10px;
}
.img-container{
	width: 100%;
	height: 100px;
	overflow: hidden;
	margin-bottom: 10px;
}
.img-container img{
	width: 100%;
	height: auto;
}
.event .owl-nav{
	width: 104%;
	left: -27px;
}
.event-title{
	font-weight: bolder;
	font-size: 30px;
	display: flex;
	margin-bottom: 20px;
}

.registration-form-container{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px 0;
	background-image: url('../../images/taking-photo.jpg');
	background-size: cover;
	background-position: center;
}
.registration-form{
	width: 40%;
	background-color: #fff;
	border-radius: 5px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.registration-form-heading{
	font-size: 28px;
	font-weight: bolder;
}
.registration-form form{
	width: 80%;
	display: flex;
	flex-direction: column;
}
.registration-input-block{
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}
.registration-input-title{
	margin-bottom: 10px;
}


.account{
	width: 100%;
	display: flex;
}
.account aside{
	width: 30%;
	display: flex;
	flex-direction: column;
	border-right: 1px solid #cdcdcd;
	padding: 40px 0;
}
.account-place-name{
	margin-bottom: 30px;
	width: 100%;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}
.account-menu{
	display: flex;
	width: 100%;
	flex-direction: column;
	list-style-type: none;
	padding: 0 20px;
}
.account-menu a{
	width: 100%;
	display: flex;
	align-items: center;
	padding: 5px 0;
	border-bottom: 1px dotted #cdcdcd;
	margin-bottom: 10px;
	transition: all ease 0.4s;
}
.account-menu a li{
	margin-left: 7px;
}
.account-menu a:hover{
	border-color: #c90909;
}
.account-content{
	width: 100%;
	background-color: #fff;
	padding: 40px 30px;
	display: flex;
	flex-direction: column;
}
.account-page-title{
	display: flex;
	border-bottom: 1px dotted #c90909;
	padding-bottom: 10px;
	margin-bottom: 30px;
}
.account-page-content{
	display: flex;
	flex-direction: column;
	width: 100%;
}


.account-personal-data{
	width: 100%;
	display: flex;
	flex-direction: column;
}
.account-form-block{
	width: 50%;
	display: flex;
	flex-direction: column;
}
.account-personal-data input[type="submit"]{
	width: 200px;
	border-radius: 5px;
	border: 1px solid #cdcdcd;
	padding: 5px 0;
}
.account-albums{
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.account-album{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	margin-bottom: 30px;
	width: 30%;
	border: 3px solid #cdcdcd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	transition: all ease 0.4s;
	position: relative;
}
.account-album:hover{
	border-color: #c90909;
}
.account-album .fa-folder{
	font-size: 100px;
	color: #c90909;
}
.account-album .fa-images{
	font-size: 100px;
	color: #c90909;
}
.account-album a{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.del-album{
	width: 25px;
	height: 25px;
	color: #fff;
	font-weight: bolder;
	text-align: center;
	position: absolute;
	right: 20px;
	top: 20px;
	background-color: #c90909;
	border-radius: 30px;
	cursor: pointer;
	transition: all ease 0.4s;
}
.del-album:hover{
	background-color: indianred;
}
.account-album-title{
	font-size: 15px;
	font-weight: bold;
}
.account-album-images{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
.account-album-image, .account-album-video{
	display: block;
	width: 23%;
	height: 200px;
	margin-bottom: 20px;
	border: 2px solid #c90909;
	overflow: hidden;
	position: relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
}
.account-album-image img{
	width: 100%;
	height: auto;
}
.account-album-image .img-cover{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	top: 100%;
	left: 0;
	z-index: 3;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-weight: lighter;
}
.img-action{
	text-transform: uppercase;
	font-size: 14px;
	transition:	all ease 0.4s;
	margin-bottom: 10px;
}
.img-action:hover{
	color: #c90909;
	font-size: 16px;
}
.img-view-cover{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
}
.view-img{
	margin-top: 40px;
	width: 80%;
	padding: 20px;
	background-color: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	position: relative;
}
.img-close, .img-download{
	display: block;
	color: #fff;
	font-size: 30px;
	position: absolute;
	top: -3%;
	right: -10%;
	cursor: pointer;
}
.img-download{
	font-size: 28px;
	top: -3%;
	right: -5%;
}
.view-img img{
	width: 100%;
	height: auto;
}
.page-main-title{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 45px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 3px;
	color: #fff;
	background-image: url('/public/images/taking-photo.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	width: 100%;
	height: 250px;
}
.about-text{
	padding: 50px 0 20px 0;
	border-bottom: 1px solid #cdcdcd;
	margin-bottom: 20px;
}
.about-text p{
	display: flex;
	flex-direction: column;
	margin-bottom: 0;
}
.about-text p span{
	margin-bottom: 20px;
}
.about-block{
	padding-bottom: 20px;
	margin-bottom: 40px;
}
.block-title{
	font-weight: bold;
	margin-bottom: 40px;
}
.block-picture img{
	width: 100%;
	height: auto;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.register-agreement{
	font-size: 12px;
}
.register-agreement a{
	color: #c90909;
}
.register-agreement a:hover{
	color: #000;
}
.agreement-cover{
	position: fixed;
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	display: none;
	text-align: center;
	top: 0;
	left: 0;
	overflow-y: scroll;
	cursor: pointer;
	z-index: 998;
}
.agreement-cover img{
	width: 70%;
	height: auto;
	margin: 30px 0;
	display: inline-block;
	z-index: 999;
}
.file-form div{
	margin-bottom: 20px;
}
.account-filter-block{
	display: flex;
	flex-direction: column;
}
.account-filters{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.account-filter{
	width: 32%;
	height: 150px;
	overflow: hidden;
	border: 3px solid #cdcdcd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	transition: all ease 0.4s;
}
.account-filter:hover{
	border-color: #c90909;
}
.account-filter img{
	width: 100%;
	height: auto;
}
.account-file-block{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 300px;
	border: 3px solid #c90909;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
}
#file-upload{
	position: absolute;
	overflow: hidden;
	width: 0.1px;
	height: 0.1px;
}
.file-upload-label{
	width: 100%;
	height: 100%;
	background-color: #cdcdcd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.fa-file-upload{
	margin-right: 5px;
}
.album-img-row{
	width: 100%;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-weight: bold;
	font-size: 40px;
	text-transform: uppercase;
	background-size: cover;
	background-attachment: fixed;
}
.album-img-title{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.album-img-title span{
	font-size: 18px;
}
.album-images, .album-videos .container{
	padding: 40px 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
h3.section-title{
	text-transform: uppercase;
	/*display: inline;*/
	padding-bottom: 10px;
	border-bottom: 2px solid #c90909;
	margin-bottom: 30px;
}
.album-videos{
	width: 100%;
	padding: 40px 0;
	background-color: #fff;
}
.album-image{
	height: 200px;
	background-size: cover;
	background-position: center;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	cursor: pointer;
}
.video-gallery{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.video-container{
	width: 33%;
	min-width: 320px;
	height: 300px;
	background-color: #fff;
	box-shadow: 0 0 7px 1px #ccc;
	padding: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
}
.video-container video{
	width: 100%;
	height: auto;
}
.album-image-cover{
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: rgba(0,0,0,0.6);
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	overflow-y: scroll;
	/*display: none;*/
}
.album-image-full{
	margin: 60px auto;
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	background-color: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	position: relative;
}
.album-image-full img{
	width: 100%;
	height: auto;
}
.img-download, .img-close, .album_src{
	position: absolute;
	display: flex;
	justify-content: space-between;
	color: #fff;
	font-size: 30px;
	top: 30px;
}
.img-download{
	right: 65px;
}
.img-close{
	right: 30px;
}
.album_src{
	right: 105px;
	font-size: 14px;
	font-weight: bold;
}
.action-buttons span:first-of-type{
	margin-right: 10px;
}